/* reset styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 36px;
}

.homepage-img {
  width: 50%;
  height: auto;
}

.home-caption {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: pink;
}

button {
  cursor: pointer;
  font-size: 20px;
  background-color: blue;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 10px 25px;
}

/* input {
  background-color: grey;
  width: 150px;
  height: 50px;
  color: #fff;
  font-size: 20px;
} */

h2 {
  text-align: center;
  margin: 0 100px;
  color: green;
  font-size: 28px;
  font-style: italic;
}

/* RoundOne component styling */

.round-one-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue;
  text-decoration: none;
}

.round-one-heading {
  font-size: 72px;
  color: #fff;
}

/* imageGrid component styling */

.image-grid-wrapper {
  height: 40vh;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.imagegrid-component-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
}